/web/react-app-skeleton-working/client/node_modules
/web/react-app-skeleton-working/server/node_modules
/web/react-app-skeleton-working/client/.DS_Store
/web/react-app-skeleton-working/server/.DS_Store
/web/react-app-skeleton-working/.DS_Store

/web/react-app-skeleton-training/client/node_modules
/web/react-app-skeleton-training/server/node_modules
/web/react-app-skeleton-training/client/.DS_Store
/web/react-app-skeleton-training/server/.DS_Store
/web/react-app-skeleton-training/.DS_Store
.DS_Store